---
layout: layouts/default.html
title: Affichage Freestyle
<style>
html {
  background-image: none;
}
</style>
<div id="main" ng-controller="homeController">

	<div id="result" class="square affix">
		<div class="text-center input-append">
			<div class="btn-group">
				<input class="btn btn-primary" type="button" value="send" ng-click="affiche()"/>
				<input class="btn btn-primary" type="button" value="stop" ng-click="stop()"/>
				<input class="btn btn-primary" type="button" value="refresh" ng-click="refresh()"/>
				<input class="btn btn-primary" type="button" value="clear" ng-click="clear()"/>
			</div>
		</div>
		<input type="text" style="width: 2em;" title="tempo client" ng-model="tempo"/>
		<input type="text" style="width: 1em;" title="scrollDelay" ng-model="tableau.scrollDelay"/>
		<input type="text" style="width: 1em;" title="ticksPerScroll" ng-model="tableau.ticksPerScroll"/>
		
		<div id="tableau" >
		        <div class="ligne" ng-repeat="ligne in lignesafficheur">{{ligne}}</div>
		</div>

	    <div class="btn-group">

		    <button type="button" class="btn btn-info" 
				ng-click='toggleScrollTbl()' title="Scroll"
				ng-class='{active: tableau.scroll}'><i class="icon-film"></i></button>

		    <button type="button" class="btn btn-primary btn-success"
		    	ng-class='{active: tableau.flash}' title="flash"
		    	ng-click='toggleFlashTbl()'><i class="icon-eye-close"></i></button>

		    <button type="button" class="btn btn-primary btn-warning"
		    	ng-class='{active: tableau.debug}' title="debug"
		    	ng-click='toggleDebugTbl()'><i class="icon-qrcode"></i></button>
	    </div>
	    
		<div class="btn-group">
			<button class="btn">Action</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<!-- dropdown menu links -->
				<li>
					<a ng-click="effacer()">Effacer</a>
				</li>
				<li ng-repeat="mod in modeles">
					<a ng-click="modele(mod)">{{mod.label}}</a>
				</li>
			</ul>
		</div>

		<ul class="unstyled brouillon">
			<li ng-repeat="ligne in brouillon.lignes">
	
				<div class="input-append">
					<input type="text" ng-model="ligne.text" ng-class="{'text-center': ligne.center}"
							 style="width: 10em;">
	
				    <div class="btn-group">
					    <button type="button" class="btn btn-primary btn-info" 
							ng-click='toggleScroll(ligne)'
							ng-class='{active: ligne.scroll}'><i class="icon-film"></i></button>
	
					    <button type="button" class="btn btn-primary btn-success"
					    	ng-class='{active: ligne.flash}'
					    	ng-click='toggleFlash(ligne)'><i class="icon-eye-close"></i></button>

					    <button type="button" class="btn btn-primary"
					    	ng-class='{active: ligne.center}'
					    	ng-click='toggleCenter(ligne)'><i class="icon-align-center"></i></button>
					    	
				    	<button class="btn" type="button" ng-click="addLine(brouillon.lignes, ligne)"><i class="icon-plus"></i></button>
				    	<button class="btn" type="button" ng-click="removeLine(brouillon.lignes, ligne)"><i class="icon-minus"></i></button>
					</div>
			    </div>
			</li>
		</ul>
		
	</div>


    <div id="resultats" class="_square">
        <h1>Free Kayak Tour</h1>

        <h4>Affichage des résultats sur tableau numérique</h4>

        <form>
        
        	<div id="cmd">        		
        		<select id="course" ng-model="course" ng-options="course.nom for course in courses" ng-change="refreshPhase()"></select>
        		<select ng-model="phase" ng-options="phase.libelle for phase in phases" ng-change="classement()"></select>
				<a class="btn" ng-click="classement()"><i class="icon-refresh"></i></a>
				<a class="btn" ng-click="toggleClassementTbl()" ng-class='{active: active == -1}'><i class="icon-tasks"></i></a>
			    <button type="button" 
			    		class="btn btn-info" 
			    		ng-click='toggleResultTbl()'>{{tableau.result && 'Arrivée' || 'Départ'}}</button>
			    <button type="button" 
			    		class="btn btn-primary btn-danger" 
			    		ng-class='{active : auto}'
			    		title="Auto" ng-click='toggleAutoTbl()'><i class="icon-time"></i></button>
			    <button type="button" class="btn" 
			    		title="Next ?" ng-click='next(active)'><i class="icon-play"></i></button>
			    {{lastImportStatus}} : {{autoClock | date :'HH:mm:ss'}} / {{switchPaddle}}
			    <input type="text" ng-model="autoTimer" class="input-mini"></input>
			    <input type="text" ng-model="autoWait" class="input-mini"></input>
	
        	</div>

			<table class="table table-bordered">
				<tr>
					<th></th>	
					<th>Pl</th>
					<th>Dossard</th>
					<th>Nom</th>
 					<th ng-repeat="i in runs">Run{{i}}</th>
					<th>Total</th>
					<th>Maj</th>
				</tr>
				<tr ng-repeat="resultat in resultats">
					<td>
						<a class="btn" trong-dblclick="toggleDetail(resultat)" 
								ng-class="{active: active == resultat.coureur.dossard}"
								ng-click="toggleDetail(resultat)"><i class="icon-tasks"></i></a>
					</td>
					<td>
						<input type="text" class="input-mini" style="width:2em;" ng-model="resultat.classement"></input>
					</td>
					<td>
						<div ng-switch on="resultat.coureur.bateau != null">
							<input ng-switch-when="false" type="text" class="input-mini" style="width:2em;" 
									ng-model="resultat.coureur.dossard" ng-change="validateDossard(resultat)"></input>
							<span ng-switch-when="true" ng-show='resultat.coureur.bateau'>
								{{resultat.coureur.dossard}}
							</span>
						</div>
						
					</td>
					<td>
						{{resultat.coureur.bateau}}
					</td>
 					<td ng-repeat="run in resultat.runs">
						<input type="text" class="input-mini" ng-model="run.points"></input>
					</td>
 					<td>
						<input type="text" class="input-mini" ng-model="resultat.totalManche"/>
					</td>
					<td>
						<div class="btn-group">
							<a class="btn" ng-click="majClassement(resultat)"><i class="icon-edit"></i></a>
							<a class="btn" ng-click="removeClassement(resultat)"><i class="icon-trash"></i></a>
					    	<a class="btn" ng-click="addLine(resultats, resultat)"><i class="icon-plus"></i></a>
						</div>
				</tr>
			</table>
			
		</form>
        
	</div>
	
</div>
